<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="192.168.1.10"/>
    <add key="port" value="8888"/>
    <add key="loop" value="0"/>
    <add key="sound" value="alarm.wav"/>
    <add key="broadcast" value="1"/>
    <add key="service" value="BroadcastEvent"/><!--MessageBody BroadcastEvent-->
  </appSettings>
</configuration>